/Solucion_Codigo/Problema-2_AlquilerPeliculas/nbproject/private/
/Solucion_Codigo/Problema-3_SistemaEnvíoMensajesMóviles/nbproject/private/
/Solucion_Codigo/Problema-3_SistemaEnvíoMensajesMóviles/build/
/Solucion_Codigo/Problema-2_AlquilerPeliculas/build/
/Solucion_Codigo/Problema-4_Sistema de nómina para trabajadores/nbproject/private/
/Solucion_Codigo/Problema-4_SistemaNóminaTrabajadores/nbproject/private/
/Solucion_Codigo/Problema-4_SistemaNóminaTrabajadores/build/
/Solucion_Codigo/Problema-5_VentaEntradasTeatro/nbproject/private/
/Solucion_Codigo/Problema-5_VentaEntradasTeatro/build/
